.listMedias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listMedias .ligneMedias{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1100px) {
    .listMedias, .ligneMedias{
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    .listMedias{
        margin-top: 2em;
    }
}